name: shared_utils
description: "A new Flutter package project."
version: 1.1.1
homepage:


environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"


dependencies:
  flutter:
    sdk: flutter
  file_picker: ^10.3.3
  image_picker: ^1.2.0
  fluttertoast: ^9.0.0
  image_cropper: ^11.0.0
  permission_handler: ^12.0.1
  ua_client_hints: ^1.4.1
  intl: ^0.20.2
  url_launcher: ^6.3.2
  connectivity_plus: ^7.0.0
  dio: ^5.9.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  

flutter:

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
